{
    "extends": ["react-app"],
    "parser": "typescript-eslint-parser",
    "plugins": ["prettier", "typescript"],
    "rules": {
        "prettier/prettier": ["error", { "parser": "typescript" }],
        "no-unused-vars": 0
    }
}
