{
    "extends": ["react-app"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "@typescript-eslint", "react-hooks"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "parser": "typescript"
            }
        ],
        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": 2,
        "react-hooks/rules-of-hooks": 2
    }
}
