@import 'src/colours';

.webView {
    flex: 1 1 0;
}

.errorPage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
        circle at 10% 10%,
        darken($pride-red, 10%) 0%,
        darken($pride-red, 20%) 100%
    );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorIcon {
    width: 40%;
    height: auto;
}

.errorMessage {
    max-width: 90%;
    white-space: normal;
    overflow-wrap: break-word;
}
